body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background: #e6eaf0;
  }
  button {
    margin: 40px;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 10px;
  }
  button:hover {
    background: #999;
  }
  button:active {
    border: 1px solid black;
  }
  button:focus{
    outline: none;
  }
  input {
    font-size: 24px;
  }
  .fill {
    background: white;
    color: red;
    border-bottom: 2px black solid;
    font-family: 'Marck Script', cursive;
    padding: 0 6px;
    margin: 4px;
  }
  .prompt{
    margin-top: 250px;
    font-size: 30px;
  }
  input{
    margin-top: 20px;
  }
  a {
    display: none;
  }

.preloader{
  position: fixed;
  background-color: rgb(58, 40, 90);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  line-height: 120vh;
}
.preloader > div {
  position: relative;
  vertical-align: baseline;
}